# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
# 'context-menu':
#   'atom-text-editor': [
#     {
#       'label': 'Toggle pomodoro-app'
#       'command': 'atom-pomodoro-app:toggle'
#     }
#   ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'pomodoro-app'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'atom-pomodoro-app:toggle'
        },
        {
          'label': 'Stop/Reset'
          'command': 'atom-pomodoro-app:stopTimer'
        }
      ]
    ]
  }
]
